body{
    background-color: black;
    text-transform: capitalize;
    color:white;
}
img{
    border-radius: 4px;
}
div.gallery{
    background-color: dodgerblue;
    border-radius: 8px;
    margin: 5px;
    border:4px solid white;
    float: left;
    width: 250px;
    color:silver;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.gallery:hover{
    border:4px solid rgb(17, 9, 90);
}
div.des{
    padding:15px;
    text-align: center;
}
div.color{
    background-color: indianred;
}